@use "../../../styles/variables" as *;

.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  .gameHeader {
    display: flex;
    justify-content: center;
    gap: 2rem;

    .stat {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.25rem;

      .value {
        font-size: 1.25rem;
        font-weight: 600;
        color: $text-color;
      }
    }
  }

  .board {
    display: grid;
    margin: 0 auto;
    background-color: gray;
    padding: 3px;
    gap: 3px;
  }
}

.prevent_text_selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}